*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c22c;

}

.header{
    text-align: center;
    margin-bottom: 20px;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #ccc #333;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -ms-overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: scroll;
}
