  /* 69013_48604 */
  .one{
    display: flex;
}
.icon{
    background-image: url(myntra.png);
    width: 80px;
    height: 50px;
    background-size: cover;
    margin: 50px;
    background-position: no-repeat;

}
.box{
    margin: 50px;
    display: flex;
    sp

}
#box1{
    background-color: red;
    height: 100px;
    width: 100px;
    padding-top: 20px;
    font-size: 40px;
    text-align:center;
    
}
#box2{
    background-color: green;
    height: 100px;
    width: 100px;
    padding-top: 20px;
    font-size: 40px;
    text-align:center;   
}